*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

.top-area{
    margin-top:;
}

.orange{
    color: #FC8F49;
}

.about-text p{
    padding-top: 20px;
}

.half-width{
    width: 570px;
}

h1{
    font-size: 50px;
}

.container-flexible{
    display: flex;
}




.order-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 196, 0), rgb(889, 88, 196));
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
    margin-top: 25px;
}
.mid-container{
     background-repeat: no-repeat;
     background-size: 100%;
     
}
   
    
.about-me{
    background: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 20px;
}

.container{
    width: 1170px;
    margin: 0px auto;
}
.about-section img{
    width: 275px;
}

.about-text p {
    margin-bottom: 45px;
}

.about-section{
    width: 500px;
}

.btn-color {
    border-radius: 55px;
    background-image: linear-gradient(rgb(255, 196, 0), rgb(889, 88, 196));
}


.experience-item{
    width: 380px;
    margin-left: 52px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;

}


.experience-area {
    text-align: center;
}

.ex-area p{
   margin-bottom: 65px;
}



.ct-atra{
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}

.counter-text{
    width: 380px;
    margin-left: 52px;
    padding: 20px;

}

.footer-area{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}


.cta-area{
    background-color: #FFFFEE;
    padding: 20px 0;
    text-align: center;
}


.logo-area{
    background-color: #000000;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.logo h2{
    font-weight: 700;
    color: #FFFFEE;
}
.logo span{
    color: tomato;
}

.padding{
    padding: 60px 0;
}